body {margin:0; padding:0;width:100%;}
section{
    padding-bottom: 145px;
}
header{
   

    width:100%;
}
.wrapper{
    margin-left: auto;
    margin-right: auto;
    padding-top: 57px;
}
header ul{
    display: flex;
    max-width: 33%;
    float:right;
    margin-right:33%;
}
header li{
    list-style-type: none;
    margin-left: 7.5px;
    margin-top: -6px;
}
header a{
    text-decoration: none;
    font-family: 'Titillium Web';
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding:10px 18px;
    border-radius: 3px;
    transition: 1s;
}
header a:hover{
    background-color: #643a79;
}
.logo{
    width: 118px;
    height: 37px;
    float:left;
}
.title{
    max-width: 57.5%;
    text-align: center;
    display: block;
    margin-top: 127px;
    font-family: 'Titillium Web';
    font-size: 42.2px;
    line-height: 48px;
    font-weight: 700;
    color: #f7f3ea;
    letter-spacing: 0.01em;
    margin-left: auto;
    margin-right: auto;
}
.button a{
    text-decoration: none;
    font-family: 'Titillium Web';
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.button{
    box-shadow: inset 0px -7px 1px -5px rgba(0,0,0,0.5);
    margin-top: 55px;
    margin-left:auto;
    margin-right: auto;
    width: 293px;
    height: 71px;
    background-color: #eb7d4b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.main{
    background-color: #17c2a4;
}
.header h3{
    font-family: 'Titillium Web';
    font-size: 41.3px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #fff;
    text-align: center;
}
.img_line{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -23px;
}
.header p{
    font-family: 'Titillium Web';
    font-size: 18.6px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #fff;
    text-align: center;
    width: 601px;
    margin-left: auto;
    margin-right: auto;
}
.main_flex_box{
    display:flex;
    flex-wrap: wrap;
    margin-top: 83px;
    justify-content: space-between;
    max-width: 57.5%;
    margin-left: auto;
    margin-right: auto;
}
.main_flex_box h3{
    font-family: 'Titillium Web';
    font-size: 20px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    margin-top: 60px;
}
.main_flex_box p{
    font-family: 'Titillium Web';
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    width: 197px;
    margin-top: 20px;
}
.main_flex_box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 126px;
}
.team{
    background-color: #e7f1f8;
}
.team_flex_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    max-width: 57.5%;
}
.avatar{
    width: 200px;
    height: 200px;
}
.social_container{
    display: flex;
    justify-content:center;
}
.member{
    width: 200px;
    margin-top: 25px;
}
.member_name{
    margin-top:38px;
    font-family: 'Titillium Web';
    font-size: 24px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #27283d;
    text-align: center;
}
.member_position{
    margin-top:11px;
    font-family: 'Titillium Web';
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #30bae7;
    text-align: center;
}
.member p{
    display: inline-block;
    margin-top:21px;
    font-family: 'Titillium Web';
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.01em;
    color: #3c4761;
    text-align:center;
    height: 108px;
    width: 200px;
}
.social_container img{
margin-left: 9px;
margin-top:23px;
}
.skill_flex_box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 84px;
    justify-content: space-between;
    margin-left: 5px;
    max-width: 57.5%;
    margin-left: auto;
    margin-right: auto;
}
.skill_img{
    width: 160px;
    height: 160px;
    margin-top: 25px;
}
.skill_img span{
    display: inline-block;
    transform: translate(48px, -123px);
    text-align:center;
    font-family: 'Titillium Web';
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #3c4761;
}
.skill_name{
    font-family: 'Titillium Web';
    font-size: 24px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #3c4761;
    margin-top: 32px;
    text-align: center;
}
.portfolio{
    background-color: #ffdd99;
}
.portfolio_menu ul{
    display: flex;
    list-style-type: none;
    justify-content:center;
    margin-top: 43px;
    width: 378px;
    margin-left: auto;
    margin-right: auto;
}
.portfolio_menu li{
    margin-left: 9px;
}
.portfolio_menu a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 27px;
    font-family: 'Titillium Web';
    font-size: 18px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #393939;
    background-color: rgba(0,0,0,0.07);
    border-radius: 3px;
}
.portfolio_menu a:hover{
    background-color: #fff;
    transition: 1s;
}
.portfolio_content{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    max-width: 57.5%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 0;
    margin-bottom:120px;
}
.portfolio__img{
    width: 541px;
    height: 311px;
    margin-top: 111px;
    margin-left: 21px;
}
.portfolio__img p{
    font-family: 'Titillium Web';
    font-size: 18px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #393939;
    text-align: center;
}
.portfolio__button a{
    font-family: 'Titillium Web';
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-decoration: none;
}
.reviews{
    background-color: #d74680;
}
.reviews_container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 60%;
    min-height: 617px;
    flex-wrap: wrap;
    margin-top: 51px;
    justify-content: space-between;
    padding:0;
}
.reviews_content{
    max-width: 480px;
    max-height: 158px;
    margin-top: 40px;
}
.review_img{
    width: 96px;
    height: 96px;
    float:left;
    margin-right: 20px;
    margin-top: 15px;
}
.review_name{
    font-family: 'Titillium Web';
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 10px;
    margin-left: 146px;
}
.review_position{
    font-family: 'Titillium Web';
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #ffdd99;
    margin-left: 146px;
    margin-top: -13px;
}
.review_text{
    font-family: 'Titillium Web';
    font-size: 21px;
    line-height: 31px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.02em;
    color: #ffffff;
    width:400px;
    margin-left: 146px;
}
.feedback{
    background-color: #3c5499;
}
.feedback_container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 285px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    justify-content: center;
}
.feedback_container input{
    width:33%;
    height: 55px;
    border-radius: 5px;
    border-style: none;
    background-color: #273a71;
    margin-left: 32px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}
::placeholder{
    font-family: 'Titillium Web';
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}
footer{
    background-color: #344b8e;
    padding-top: 47px;
    padding-bottom: 37px;
}
footer div{
    background-color: #344b8e;
    width: 60%;
    
}
footer ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-left:50%;
   
}
footer a{
    text-decoration: none;
    font-family: 'Titillium Web';
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: 1em;
}
footer a:hover{
    color:#31a8d9;
}